input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.time-picker {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  padding: 25px;

  border-radius: 8px;
  border-style: solid;
  border: #000000;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);

  color: #53565a;
  font-size: 20px;
  font-weight: 500;

  user-select: none;
}

.time-picker .hour,
.time-picker .minute {
  position: relative;
  min-width: 60px;
  text-align: center;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.time-picker .hour .hr,
.time-picker .minute .min {
  background: none;
  font-size: 30px;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Saira", "Sans-Serif";
}

.time-picker .hour .hr-up,
.time-picker .hour .hr-down,
.time-picker .minute .min-up,
.time-picker .minute .min-down {
  position: absolute;
  left: 40%;
  transform: translateX(-50%);

  width: 40px;
  height: 20px;

  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  cursor: pointer;
}

.add {
  font-size: 40px;
}
