/* Calender form Date Picker */
.cf-date-picker {
  position: relative;
  width: 100;
  max-width: 320px;
  height: 60px;
  background-color: #ffffff;
  margin: 30px auto;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);

  cursor: pointer;
  user-select: none;
}

.cf-date-picker:hover {
  background-color: #f3f3f3;
}

.cf-date-picker .cf-selected-date {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #313131;
  font-size: 28px;
}

.cf-date-picker .cf-dates {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.cf-date-picker .cf-dates.active {
  display: block;
}

.cf-date-picker .cf-dates .cf-month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
}

.cf-date-picker .cf-dates .cf-month .arrows {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #313131;
  font-size: 18px;
}

.cf-date-picker .cf-dates .cf-month .arrows:hover {
  transform: scale(1.1);
}

.cf-date-picker .dates .cf-month .arrows:active {
  background-color: #00ca85;
}

.cf-date-picker .cf-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 200px;
  background-color: #eee;
}

.cf-date-picker .cf-days .cf-day {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
}

.day-main:hover {
  text-decoration: red underline;
}
/*Modal Components */
.cf-modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cf-modal-content {
  height: 100px;
  color: black;
  text-align: center;
  align-items: center;
}

.cf-modal-button {
  height: 25px;
  width: 60px;
  background-color: #000000;
  border: none;
  color: white;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20%;
}

.other-days {
  background-color: #d3d3d3;
  font-style: italic;
  cursor: not-allowed;
}

.weekday {
  cursor: default;
}

/* errors */
.error {
  color: red;
  font-size: 80%;
  font-weight: bold;
  margin-top: 20%;
}

.cf-form {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.25em;
}

.cf-form-btn {
  margin-top: 20%;
}

@media only screen and (max-width: 1228px) {
  .cf-form {
    display: flex;
    flex-direction: column;
  }

  .cf-form-btn {
    margin-top: 5px;
  }

  .error {
    margin-top: 2%;
    margin-left: auto;
  }
}
