.mv-wrapper {
  display: grid;
}

.mv-day-grid,
.mv-wkdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1em;
}

.mv-li {
  display: flex;
  list-style: none;
  margin-left: 0;
  font-size: 75%;
}

.mv-daysOfMonth {
  color: #000;
  font-weight: 900;
  margin-left: 2px;
}

.mv-wkdays {
  margin-bottom: 1em;
}

.mv-wkday {
  margin-top: 2em;
  height: 1vw;
}

.mv-day-grid .mv-li.mv-day {
  background-color: #fff;
  border: 1px solid #000;
  min-height: 12vw;
  min-width: 11vw;
}

.mv-year-wrapper {
  margin-top: 10px;
  display: flex;
  transition: transform 0.5s;
  justify-content: center;
}

.mv-year-mod {
  cursor: pointer;
  padding-top: 3px;
}

.mv-year-mod:hover {
  transform: scale(1.3);
  color: #2f4f4f;
}

.mv-month {
  margin: auto;
}
.mv-selected-month {
  transform: scale(1.5);
  text-decoration: red underline;
}

.mv-shift-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10%;
  list-style: none;
}
.mv-shift {
  color: yellow;
  background: black;
  flex-wrap: nowrap;
}

.mv-shift:nth-child(even) {
  color: black;
  background: yellow;
}

.mv-pen {
  font-size: 1.5em;
  outline: 1px solid black;
}

.mv-month-prev,
.mv-month-next {
  background-color: #d3d3d3;
}

.mv-months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 740px) {
  .mv-test {
    overflow-x: scroll;
  }
  .mv-responsive {
    outline: 1px solid black;
    overflow-x: scroll;
    scrollbar-color: red yellow;
  }
  .mv-day {
    width: 81px;
  }
  .mv-months {
    width: 695px;
  }
}
